#example:
# you can skip this first one if it is not already excluded by prior patterns
#!application/
#application/*
#!application/language/
#application/language/*
#!application/language/gr/



# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log

# venv
env
venv

# other


# sphinx docs 


# javascript

#Visual Code Studio Path
.vscode

#Pycharm path
.idea